html {
  position: relative;
  min-height: 100%;
}

#footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer {
  float: right;
  padding-top: 10px;
  padding-right: 60px;
}

.marginTop {
  margin-top: 100px;
}

.marginTopI {
  margin-top: 50px;
}

.marginTopII {
  margin-top: 500px;
}

#body {
	margin-left: 100px;
	margin-right: 100px;
}

.margin-left-right {
    margin-left: 100px;
    margin-right: 100px;
}


